# requirements.txt

# PyTorch'un sadece CPU versiyonunu indirmesi için özel index URL'si
--extra-index-url https://download.pytorch.org/whl/cpu

# Web Sunucusu ve Framework
gunicorn
Flask
Flask-Cors

# Yardımcı Kütüphaneler
python-dotenv
requests

# AI ve Vektör Veritabanı Kütüphaneleri
sentence-transformers
pinecone
datasets
torch # Versiyon belirtme, uyumlu CPU versiyonunu bulacak
numpy<2.0